<!doctype html>
<html id="index-html" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>

    <div class="text-center mb-2">
        <h1>Happy Journly-ing!</h1>
    </div>
            <hr>

<!-- this is where our loop will go to list all *public* entries -->
    <div class="gratitude-entry-form px-3 text-center">
        <form th:action="@{/gratitude-board/create}" th:method="post" th:object="${newEntry}">
            <!-- prompt needs to go here -->
            <div id="gratitude-entry-prompt">
                <p th:text="${prompt.prompt}"></p>
            </div>


            <div id="gratitude-entry-body">
                <label for="body" class="font-weight-bold">Body: </label>
                <br>
                <textarea type="text" id="body" th:value="${newEntry.body}"></textarea>
            </div>

            <hr>

            <div id="gratitude-entry-image-upload">
                <label for="image" class="font-weight-bold">Image for Gratitude Entry (optional, a default will be set for you if left blank):</label>
                <br>
                <input class="text-center" type="hidden" name="current-image" th:value="${newEntry.imgFilePath}">
                <input class="text-center" id="image" name="image" type="file" />
            </div>

            <hr>

            <div id="gratitude-entry-privacy">
                <!-- if true, will be public
                     if false, will only show on profile -->
                <p class="font-weight-bold">Click this box if you would like your post to be displayed on the community Gratitude Board:</p>
                <input type="checkbox" th:value="${newEntry.isPublic}"/>
    <!--            <input type="submit" value="Submit">-->
            </div>

            <hr>

            <input type="submit" placeholder="Submit New Gratitude Entry">
        </form>
    </div>
</body>
</html>