<!doctype html>
<html id="index-html" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body class="sign-up-bg">
<script>

    document.body.onload = function() {
    if (hasLiked === true){
    document.querySelector('#like_button').innerHTML = 'Unlike!';
    // document.querySelector('#unlike_button').hidden = false;
}}

</script>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="jumbotron flex-box justify-content-center text-center">
    <h1>Welcome to the Gratitude Board!</h1>
    <p>Looking for a pick-me-up, or maybe some inspiration? Read through gratitude entries created by other members of Journly.</p>
</div>
<div class="form-inline justify-content-center px-3 pb-1">
    <div class="col-md card-columns">
        <div th:each="entry : ${entries}">
            <div th:if="${entry.isPublic}">
                <div class="card shadow p-3 mb-5 rounded">
                    <div class="row align-items-center px-3 pb-1">
                        <img th:src="@{'' + ${entry.user.getImgFilePath()}}"  class="card-profile-picture"/>
                        <p class="align-items-center" th:text="${entry.user.getUsername()}"></p>
                    </div>
                    <div>
                        <div th:if="${entry.imgFilePath != null}">
                            <img class="card-img-top" th:src="${entry.imgFilePath}">
                        </div>
                        <div th:unless="${entry.imgFilePath != null}">
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-title" th:text="${entry.getPrompt().prompt}"></p>
                        <p class="card-text" th:text="${entry.body}"></p>
                    </div>
                    <div class="card-body align-items-center py-0 text-center justify-content-center view-more-bg">
                        <a class="card-link text-center justify-content-center" th:href="@{|/gratitude-board/${entry.id}|}">View Entry</a>
                    </div>
                    <div class="card-body">
                        <div class="like_button">
                            <button id="like_button" value="Like" >Like</button>
                            <span class="count" th:text="${numOfLikes}"></span>
                        </div>
                    </div>
                </div>
                <div th:unless="${entry.isPublic}"></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="partials/scripts :: assets"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>

<script th:inline="javascript">
    "use strict";
    $(function() {

        const dates = document.querySelectorAll(".createdAt");
        for (let date of dates) {
            date.innerText = moment(date.innerText).format("LLLL");
        }


        /*<![CDATA[*/
        let _csrf_token = /*[[${_csrf.token}]]*/ '';
        let _csrf_param_name =  /*[[${_csrf.parameterName}]]*/ '';
        let hasLiked = /*[[${hasLiked}]]*/ false;
        let gratitudeEntryId = /*[[${singleEntry.id}]]*/ '';
        /*]]>*/

        $(".like_button button").on("click", function () {
            if (hasLiked === true) {
                // document.querySelector('#like_button').innerHTML = 'Already Liked!';
                var $count = $(this).parent().find('.count');
                $count.html($count.html() * 1 - 1);
                document.querySelector('#like_button').innerHTML = 'Like!';
                console.log("unLike button clicked");
                let requestData = {
                    "gratitudeId": gratitudeEntryId
                }
                requestData[_csrf_param_name] = _csrf_token; // Adds the token
                $.ajax("/unlike_gratitude_entry", {
                    type: "POST",
                    data: requestData
                }).done(function (data, status, jqXhr) {
                    console.log("done")
                }).fail(function (jqXhr, status, error) {
                    console.log(status + error)
                })
                hasLiked = false;
                return;
            } else {
                // document.querySelector('#like_button').innerHTML = 'Already Liked!';
                var $count = $(this).parent().find('.count');
                $count.html($count.html() * 1 + 1);
                document.querySelector('#like_button').innerHTML = 'Unlike!';
                console.log("Like button clicked");
                let requestData = {
                    "gratitudeId": gratitudeEntryId
                }
                requestData[_csrf_param_name] = _csrf_token; // Adds the token
                $.ajax("/like_gratitude_entry", {
                    type: "POST",
                    data: requestData
                }).done(function (data, status, jqXhr) {
                    console.log("done")
                }).fail(function (jqXhr, status, error) {
                    console.log(status + error)
                })
                hasLiked = true;
                return;
            }
        });
    });
    });
</script>
</body>
</html>