<!doctype html>
<html id="index-html" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="search-header">
    <p>This is the all posts page!</p>
</div>
<div class="container">
    <div class="all-public-posts border border-warning row" th:each="entry : ${entries}">
        <div class="col-sm" th:if="${entry.isPublic}">
            <div>
                <img class="img-thumbnail" th:src="${entry.imgFilePath}"></img>
            </div>
            <div>
                <p th:text="${entry.getPrompt().prompt}"></p>
                <p th:text="${entry.body}"></p>
            </div>
            <div>
                <p th:text="${entry.user.getUsername()}"></p>
                <!-- commented out while I figure out issue with date on this view -->
<!--                <h4 class="createdAt" th:text="${entry.createdAt}"></h4>-->
            </div>
            <div>
                <a th:href="@{|/gratitude-board/${entry.id}|}">View Entry</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script th:inline="javascript">
    "use strict";
    $(function() {

        const dates = document.querySelectorAll(".createdAt");
        for (let date of dates) {
            date.innerText = moment(date.innerText).format("LLLL");
        }
    });
</script>
</body>
</html>