<!doctype html>
<html id="index-html" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>

<body>
    <nav th:replace="partials/navbar :: navbar"></nav>

    <div class="search-header">
        <p>This is the all posts page!</p>
    </div>

    <div class="container">
        <div class="all-public-posts border border-warning row" th:each="entry : ${entries}">
            <div class="col-sm">
                <div>
                    <img class="img-thumbnail" th:src="${entry.getImgFilePath()}"></img>
                </div>
                <div>
                    <p th:text="${entry.getPrompt().prompt}"></p>
                    <p th:text="${entry.body}"></p>
                </div>
                <div>
                    <p th:text="${entry.user.getUsername()}"></p>
                    <p th:text="${entry.createdAt}"></p>
                </div>
                <div>
                    <p th:text="${entry.isPublic}"></p>
                </div>
                <div>
                    <a th:href="@{|/gratitude-board/${entry.id}|}" class="montserrat">View Entry</a>

                </div>
            </div>
        </div>
    </div>


 <!-- this is where our loop will go to list all *public* entries -->

</body>
</html>