<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<div class="container">


    <div class="col-md-6">
        <img class="img-thumbnail img-fluid" th:src="${singleEntry.getImgFilePath()}"></img>
        <h1 th:text="${singleEntry.prompt}"></h1>
        <h1 th:text="${singleEntry.body}"></h1>
        <h1 th:text="${singleEntry.createdAt}"></h1>
        <h1 th:text="${singleEntry.user.getUsername()}"></h1>
<!--        <form action="/ads/delete?id=${ad.id}" method="post">-->
<!--            <input value="delete" type="submit" class="btn btn-block btn-primary">-->
<!--        </form>-->
    </div>

    <!--<div th:replace="partials/footer :: footer"></div>-->
</div>
</body>
</html>