<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<div class="container">


    <div class="col-md-6">
        <img class="img-thumbnail img-fluid" th:src="${singleEntry.getImgFilePath()}"></img>
        <h1 th:text="${singleEntry.getPrompt().prompt}"></h1>
        <h1 th:text="${singleEntry.body}"></h1>
        <h1 th:text="${singleEntry.createdAt}"></h1>
        <h1 th:text="${singleEntry.user.getUsername()}"></h1>
<!--        <form action="/ads/delete?id=${ad.id}" method="post">-->
<!--            <input value="delete" type="submit" class="btn btn-block btn-primary">-->
<!--        </form>-->
    </div>
    <div class="like_button">
        <button id="like_button" name=myButton value="enable" >Like</button>
        <span class="count" th:text="${numOfLikes}"></span>
    </div>
    <!--<div th:replace="partials/footer :: footer"></div>-->
</div>
<div th:replace="partials/scripts :: assets"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var _csrf_token = /*[[${_csrf.token}]]*/ '';
    var _csrf_param_name =  /*[[${_csrf.parameterName}]]*/ '';
    var hasLiked = /*[[${hasLiked}]]*/ false;
    var gratitudeEntryId = /*[[${singleEntry.id}]]*/ '';
    /*]]>*/


    $(".like_button button").on("click", function() {
        if (hasLiked === true){
            return;
        }
        document.querySelector('#like_button').innerHTML = 'Liked!';
        document.getElementById("like_button").disabled = true;
        var $count = $(this).parent().find('.count');
        $count.html($count.html() * 1 + 1);
    });

    $(document).on("click",".like_button",function (){
        if (hasLiked === true){
            return;
        }
        console.log("Like button clicked");
        let requestData = {
            "gratitudeId" : gratitudeEntryId
            }
        requestData[_csrf_param_name] = _csrf_token; // Adds the token
        $.ajax("/like_gratitude_entry", {
            type: "POST",
            data: requestData
        }).done(function (data, status, jqXhr){
            console.log("done")
        }).fail(function (jqXhr, status, error){
            console.log(status + error)
        })
    })
</script>
</body>
</html>