<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body>
<script>
    document.body.onload = function() {
        if (hasLiked === true){
            document.querySelector('#like_button').innerHTML = 'Unlike!';
            // document.querySelector('#unlike_button').hidden = false;
    }}
</script>
<div th:replace="partials/navbar :: navbar"></div>

<div class="container">


    <div class="col-md-6">
        <img class="img-thumbnail img-fluid" th:src="${singleEntry.getImgFilePath()}"></img>
        <h1 th:text="${singleEntry.getPrompt().prompt}"></h1>
        <h1 th:text="${singleEntry.body}"></h1>
        <h1 class="createdAt" th:text="${singleEntry.createdAt}"></h1>
        <h1 th:text="${singleEntry.user.getUsername()}"></h1>
    </div>
    <div class="like_button">
        <button id="like_button" value="Like" >Like</button>
        <span class="count" th:text="${numOfLikes}"></span>
<!--        <button id="unlike_button" value="unlike" >UnLike</button>-->
    </div>
    <!--<div th:replace="partials/footer :: footer"></div>-->
</div>
<div th:replace="partials/scripts :: assets"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script th:inline="javascript">

    "use strict";
    $(function() {

        const dates = document.querySelectorAll(".createdAt");
        for (let date of dates) {
            date.innerText = moment(date.innerText).format("LLLL");
        }

        /*<![CDATA[*/
        let _csrf_token = /*[[${_csrf.token}]]*/ '';
        let _csrf_param_name =  /*[[${_csrf.parameterName}]]*/ '';
        let hasLiked = /*[[${hasLiked}]]*/ false;
        let gratitudeEntryId = /*[[${singleEntry.id}]]*/ '';
        /*]]>*/

        $(".like_button button").on("click", function () {
            if (hasLiked === true) {
                // document.querySelector('#like_button').innerHTML = 'Already Liked!';
                var $count = $(this).parent().find('.count');
                $count.html($count.html() * 1 - 1);
                document.querySelector('#like_button').innerHTML = 'Like!';
                console.log("unLike button clicked");
                let requestData = {
                    "gratitudeId": gratitudeEntryId
                }
                requestData[_csrf_param_name] = _csrf_token; // Adds the token
                $.ajax("/unlike_gratitude_entry", {
                    type: "POST",
                    data: requestData
                }).done(function (data, status, jqXhr) {
                    console.log("done")
                }).fail(function (jqXhr, status, error) {
                    console.log(status + error)
                })
                hasLiked = false;
                return;
            } else {
                // document.querySelector('#like_button').innerHTML = 'Already Liked!';
                var $count = $(this).parent().find('.count');
                $count.html($count.html() * 1 + 1);
                document.querySelector('#like_button').innerHTML = 'Unlike!';
                console.log("Like button clicked");
                let requestData = {
                    "gratitudeId": gratitudeEntryId
                }
                requestData[_csrf_param_name] = _csrf_token; // Adds the token
                $.ajax("/like_gratitude_entry", {
                    type: "POST",
                    data: requestData
                }).done(function (data, status, jqXhr) {
                    console.log("done")
                }).fail(function (jqXhr, status, error) {
                    console.log(status + error)
                })
                hasLiked = true;
                return;
            }
        });

    });
    //         document.querySelector('#like_button').innerHTML = 'Liked!';
    //         // document.getElementById("like_button").disabled = true;
    //         var $count = $(this).parent().find('.count');
    //         $count.html($count.html() * 1 + 1);
    //     })
    //
    //     $(document).on("click", ".like_button", function () {
    //         if (hasLiked === true) {
    //             return;
    //         }
    //         console.log("Like button clicked");
    //         let requestData = {
    //             "gratitudeId": gratitudeEntryId
    //         }
    //         requestData[_csrf_param_name] = _csrf_token; // Adds the token
    //         $.ajax("/like_gratitude_entry", {
    //             type: "POST",
    //             data: requestData
    //         }).done(function (data, status, jqXhr) {
    //             console.log("done")
    //         }).fail(function (jqXhr, status, error) {
    //             console.log(status + error)
    //         })
    //     })
    //
    // $(".unlike_button button").on("click", function() {
    //     console.log("unliked clicked");
    //     document.querySelector('#unlike_button').innerHTML = 'Unliked!';
    //     document.getElementById("unlike_button").disabled = true;
    //     var $count = $(this).parent().find('.count');
    //     $count.html($count.html() * 1 - 1);
    //     return;
    // });
    // // }});
    // $(document).on("click", ".unlike_button", function () {
    //     if (hasLiked === false) {
    //         return;
    //     }
    //     console.log("unLike button clicked");
    //     let requestData = {
    //         "gratitudeId": gratitudeEntryId
    //     }
    //     requestData[_csrf_param_name] = _csrf_token; // Adds the token
    //     $.ajax("/unlike_gratitude_entry", {
    //         type: "POST",
    //         data: requestData
    //     }).done(function (data, status, jqXhr) {
    //         console.log("done")
    //     }).fail(function (jqXhr, status, error) {
    //         console.log(status + error)
    //     })
    // })

</script>
</body>
</html>