<!doctype html>
<html id="update-entry" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="text-center mb-2">
    <h1>Edit Entry:</h1>
</div>
<hr>
<div class="gratitude-entry-form px-3 text-center">
    <form th:action="@{/dashboard/{id}/update(id=*{id})}" th:method="post" th:object="${gratitudeEntry}" enctype="multipart/form-data">
        <div id="update-entry-prompt">
            <h3>Prompt: </h3>
            <h4 th:text="${gratitudeEntry.getPrompt().prompt}"></h4>
        </div>
        <div id="update-entry-body">
            <h3>Body: </h3>
            <textarea th:text="${gratitudeEntry.getBody()}" th:field="*{body}"></textarea>
        </div>
        <div id="update-entry-privacy">
            <h3>Privacy: </h3>
            <p class="font-weight-bold">Public? (check box): <input type="checkbox" name="isPublic" th:field="*{isPublic}"/></p>
        </div>
        <div id="update-entry-image">
            <p class="font-weight-bold">Image for Gratitude Entry (optional):</p>
            <br>
            <input type="file" name="image">
        </div>

        <input type="submit" placeholder="Update Gratitude Entry">
    </form>
    <footer th:replace="partials/footer :: footer"></footer>
</div>
</body>
</html>