<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>Footer</title>
</head>
<body class="">

<footer th:fragment="footer" class="flex justify-center">
    <div>
       <p>Journly</p>
    </div>
    <ul class="footer-links" id="mobileMenu">

        <li class="footer-link">
            <a href="https://github.com/journly-capstone">GitHub</a>
        </li>
        <li class="footer-link">
            <a href="https://github.com/journly-capstone">Features</a>
        </li>
        <li class="footer=link">
            <a href="https://github.com/journly-capstone">About Us</a>
        </li>
    </ul>
    <div>
        <p>Journly Co. 2021 We love our users!</p>
    </div>
</footer>

</body>
</html>