<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>Footer</title>
</head>
<body>


<footer th:fragment="footer" class="text-center footer-style">
    <hr class="inline-block mx-auto" style="width: 100%;">
    <div class="container mx-auto">
        <ul style="list-style-type: none" class="footer-links row justify-content-center p-0">
            <li class="footer-link col text-center">
                <a class="fab fa-github" href="https://github.com/journly-capstone/journly#journly" target="_blank"></a>
            </li>
            <li class="footer-link col text-center">
                <a class="far fa-newspaper" href="https://journly.org/gratitude-board"></a>
            </li>
            <li class="footer-link col text-center">
                <a class="fas fa-book-open" href="https://journly.org/books"></a>
            </li>
            <li class="footer-link col text-center">
                <a class="far fa-address-book" href="https://journly.org/about-us"></a>
            </li>
        </ul>
    </div>
</footer>

</body>
</html>