<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>Footer</title>
</head>
<body>


<footer th:fragment="footer" class="container justify-content-center footer-style">
    <hr>
    <div class="footer-label row justify-content-center">
       <p class="align-items">Journly</p>
    </div>
    <ul style="list-style-type: none" class="footer-links row justify-content-center p-0">

        <li class="footer-link col text-center">
            <a class="fab fa-github" href="https://github.com/journly-capstone"></a>
        </li>
        <li class="footer-link col text-center">
            <a class="fas fa-book" href="https://developers.google.com/books"></a>
        </li>

        <li class="footer-link col text-center">
            <a class="fas fa-newspaper" href="https://journly.org/gratitude-board"></a>
        </li>

        <li class="footer-link col text-center">
            <a class="fas fa-address-card" href="https://journly.org/about-us"></a>
        </li>
    </ul>
    <div class="footer-label row justify-content-center">
        <p class="text-center">Journly Co. 2021 We love our users!</p>
    </div>
</footer>

</body>
</html>