<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Navbar</title>
</head>
<body>
<nav th:fragment="navbar" id="main-navbar" class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <img src="/img/journly-logo.png" width="70" height="70" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!--NOTE: Gratitude Board href will need to be updated-->
                    <a class="nav-link" href="#">Gratitude Board</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about-us}">About Us</a>
                </li>
            </ul>

            <form class="form-inline m-md-1" th:action="@{/login}" method="get">
                <input id="nav-login-btn" class="btn btn-block my-2 my-sm-0 m-1" type="submit" value="Log In" />
            </form>

            <form class="form-inline m-md-1" th:action="@{/sign-up}" method="get">
                <input id="nav-signup-btn" class="btn btn-block my-2 my-sm-0 m-1" type="submit" value="Sign Up" />
            </form>
        </div>
    </div>
</nav>
</body>
</html>