<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body>

    <div th:replace="partials/navbar :: navbar"></div>


    <div class="jumbotron">
        <div class="justify-content-center">
            <h1 class="display-4">Welcome, User!</h1>
            <p th:text="${quotes.quote}"></p>
            <p th:text="${quotes.author}"></p>
        </div>
    </div>
    <div class="form-inline justify-content-center">
        <a th:href="@{/gratitude-board/create}">
            <button type="button" class="btn btn-primary my-2 my-sm-0">Create Gratitude Entry</button>
        </a>
    </div>

    <div class="user-gratitude-entries" th:each="entry : ${user.userGratitudeEntries}">
<!--        th:if="${entry.getId() == user.getId()}"-->
        <p th:text="${entry.getImgFilePath()}"></p>
        <p th:text="${entry.getPrompt().prompt}"></p>
        <p th:text="${entry.body}"></p>
        <p th:text="${entry.createdAt}"></p>
<!--        <p th:text="${userEntries.user}"></p>-->
        <p th:if="${entry.isPublic}">Public</p>
        <p th:if="${!entry.isPublic}">Private</p>
        <hr>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{|/gratitude-board/${entry.id}|}" class="montserrat">View Entry</a>
            <br>
            <a th:href="@{|/gratitude-board/${entry.id}/update|}" class="montserrat">Edit Entry</a>
            <br>
            <a th:href="@{'/dashboard/' + ${entry.id} + '/delete/'}" class="montserrat">Delete Entry</a>
<!--        <div th:object="${deleted}" th:if="${success}"></div>-->
        </div>

    </div>


    <div th:replace="partials/scripts :: assets"></div>


    <!--<div th:replace="partials/footer :: footer"></div>-->
</body>
</html>