<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body id="profile-settings-body" class="d-flex flex-column min-vh-100">
    <img src="/svg/left-landing-page.svg" class="about-us-left-svg">
    <img src="/svg/right-landing-page.svg" class="about-us-right-svg">

    <div th:replace="partials/navbar :: navbar"></div>

    <div class="jumbotron profile-settings-jumbotron-background text-center p-0 p-md-5">
        <div class="container">
            <h1>Profile Settings</h1>
        </div>
    </div>

    <main class="flex-fill container profile-settings-main-container text-center pb-5">
        <!-- Profile Settings Nav Tabs-->
        <div class="container pt-5 pb-5">
            <ul id="tabs" class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a id="nav-account-information-tab" th:href="@{#account-information}" class="nav-link active profile-settings-nav-tab-link" data-toggle="tab" role="tab">Account Information</a>
                </li>
                <li class="nav-item">
                    <a id="nav-update-profile-information-tab" th:href="@{#update-profile-information}" class="nav-link profile-settings-nav-tab-link" data-toggle="tab" role="tab">Update Profile Information</a>
                </li>
                <li class="nav-item">
                    <a id="nav-change-password-tab" th:href="@{#change-password}" class="nav-link profile-settings-nav-tab-link" data-toggle="tab" role="tab">Change Password</a>
                </li>
            </ul>

            <!-- Nav Tabs Content -->
            <div id="content" class="tab-content pb-5" role="tablist">

                <!--Account Information -->
                <div id="account-information" class="card profile-settings-card tab-pane fade show active" role="tabpanel" aria-labelledby="nav-account-information-tab">
                    <div class="card profile-settings-card" th:object="${user}">
                        <div class="card-header profile-settings-card-header profile-settings-card-header-account-information" role="tab" id="heading-A">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A" class="profile-settings-content-href">
                                    Profile Information
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-A" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-A">
                            <div class="card-body">
                                <ul class="list-group list-group-flush profile-settings-ul">
                                    <li class="list-group-item">
                                        <div class="image-cropper">
                                            <img th:src="@{'' + ${user.getImgFilePath()}}" th:alt="${user.getUsername()}" class="user-profile-picture"/>
                                        </div>
                                    </li>
                                    <li class="list-group-item"><h5><strong>Username: </strong><span class="profile-information-username-email" th:text="${user.getUsername()}"></span></h5></li>
                                    <li class="list-group-item"><h5><strong>Email: </strong><span class="profile-information-username-email" th:text="${user.getEmail()}"></span></h5></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Update Profile Information -->
                <div id="update-profile-information" class="card profile-settings-card tab-pane fade" role="tabpanel" aria-labelledby="nav-update-profile-information-tab">
                    <div class="card-header profile-settings-card-header profile-settings-card-header-update-profile-information" role="tab" id="heading-B">
                        <h5 class="mb-0">
                            <a class="collapsed profile-settings-content-href" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">
                                Update Profile Information
                            </a>
                        </h5>
                    </div>
                    <div id="collapse-B" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-B">
                        <div class="card-body">
                            <form class="container update-profile-information-form" th:action="@{/profile-settings/update-profile-information}" method="post" th:object="${user}" enctype="multipart/form-data">

                                <div class="form-group">
                                    <label for="username"><strong>Username</strong></label>
                                    <input class="form-control" type="text" id="username" th:field="*{username}" />
                                </div>

                                <div class="form-group">
                                    <label for="email"><strong>Email</strong></label>
                                    <input class="form-control" type="text" id="email" name="email" th:field="*{email}" />
                                </div>

                                <div class="form-group">
                                    <label for="update-user-profile-picture" class="text-center"><strong>Profile Picture</strong></label>
                                    <input type="hidden" name="current-profile-picture" th:value="${user.imgFilePath}">
                                    <input id="update-user-profile-picture" name="update-user-profile-picture" type="file" class="text-center"/>
                                </div>




                                <button type="submit" class="btn btn-info mb-3">Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>

                 <!-- Change Password -->
                <div id="change-password" class="card profile-settings-card tab-pane fade" role="tabpanel" aria-labelledby="nav-change-password-tab">
                    <div class="card-header profile-settings-card-header profile-settings-card-header-change-password" role="tab" id="heading-C">
                        <h5 class="mb-0">
                            <a class="collapsed profile-settings-content-href" data-toggle="collapse" href="#collapse-C" aria-expanded="false" aria-controls="collapse-C">
                                Change Password
                            </a>
                        </h5>
                    </div>
                    <div id="collapse-C" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-C">
                        <div class="card-body">
                            <form class="container change-password-form-container" th:action="@{/profile-settings/change-password}" method="post" th:object="${user}">
                                <div class="form-group">
                                    <label for="password"><strong>New Password</strong></label>
                                    <input class="form-control" name="password" type="password" id="password" th:field="*{password}" />
                                    <p class="error-msg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                                </div>

                                <div class="form-group">
                                    <label for="confirm"><strong>Confirm New Password</strong></label>
                                    <input class="form-control" id="confirm" name="confirm" type="password">
                                    <input class="form-control" name="id" type="hidden" th:value="${user.getId()}">
                                </div>

                                <button type="submit" class="btn btn-info mb-3">Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="partials/footer :: footer"></div>


    <div th:replace="partials/scripts :: assets"></div>
    <div th:replace="partials/scripts :: profile-settings-script"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var hasErrors = /*[[${hasErrors}]]*/ false;
        /*]]>*/

        $(document).ready(function() {
            if(hasErrors) {
                $('.nav-tabs a[href="#change-password"]').tab("show")
            }
        });

    </script>
</body>
</html>