<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body>
    <div th:replace="partials/navbar :: navbar"></div>
    <main class="container text-center">
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h1 class="display-4">Profile Settings</h1>
            </div>
        </div>

        <div class="container">
            <h4>Update Profile Information</h4>

            <div class="container">
                <form class="container" th:action="@{/profile-settings}" method="post" th:object="${user}">

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" id="username" th:field="*{username}" />
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" id="email" name="email" th:field="*{email}" />
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </main>


    <div th:replace="partials/scripts :: assets"></div>
</body>
</html>