<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
    <h1 class="text-center">Sign Up</h1>

    <form class="container" th:action="@{/sign-up}" method="post" th:object="${user}">

        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" id="username" th:field="*{username}" />
            <p class="error-msg" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            <p class="error-msg" th:if="${username != null}" th:text="'*Username already in use'"></p>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" id="email" name="email" th:field="*{email}" />
            <p class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            <p class="error-msg" th:if="${email != null}" th:text="'*Email Address already in use'"></p>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" th:field="*{password}" />
            <p class="error-msg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>

        <input class="btn btn-block btn-primary" type="submit" value="Sign Up!" />
        <div class="form-group">
            <a class="nav-link" href="/login">Have an account? Log in!</a>
        </div>

    </form>

<!--    <footer th:replace="partials/footer :: header-links"></footer>-->


    <div th:replace="partials/scripts :: assets"></div>

</body>
</html>