<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="sign-up-bg">
<head th:replace="partials/head :: head"></head>
<body class="sign-up-wrapper sign-up-bg">

<img src="/svg/left-landing-page.svg" class="sign-up-pg-left-svg">
<img src="/svg/right-landing-page.svg" class="sign-up-pg-right-svg">

<nav th:replace="partials/navbar :: navbar"></nav>

<main class="sign-up-main-container container pb-5">

    <div class="card sign-up-card sign-up-container mb-3" style="height: 100%;">
        <div class="row d-flex no-gutters">
            <div class="col-md-6">
                <div class="card-body p-lg-5">
                    <h1 class="text-center"><strong>Sign Up</strong></h1>

                    <h6 class="text-center">Already a member?<br><a class="text-center pt-0" href="/login">Login</a></h6>

                    <form class="container p-1" th:action="@{/sign-up}" method="post" th:object="${user}">
                        <div class="form-group">
                            <input class="form-control sign-up-input" type="text" id="username" th:field="*{username}" placeholder="Username" />
                            <p class="error-msg" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                            <p class="error-msg" th:if="${username != null}" th:text="'Username already exists'"></p>
                        </div>

                        <div class="form-group">
                            <input class="form-control sign-up-input" type="text" id="email" name="email" th:field="*{email}" placeholder="Email"/>
                            <p class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            <p class="error-msg" th:if="${email != null}" th:text="'Email address already in use'"></p>
                        </div>

                        <div class="form-group">
                            <input class="form-control sign-up-input" type="password" id="password" name="password" th:field="*{password}" placeholder="Password" />
                            <p class="error-msg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        </div>

                        <div class="form-group">
                            <input class="form-control sign-up-input" id="confirm" name="confirm" type="password" placeholder="Confirm Password" />
                            <input class="form-control sign-up-input" name="id" type="hidden" th:value="${user.getId()}">
                        </div>

                        <input class="btn btn-block sign-up-btn" type="submit" value="Sign Up" />
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <img src="/img/make-gratitude-a-habit.jpg" class="card-img sign-up-img" alt="Make Gratitude a Habit">
            </div>
        </div>
    </div>
</main>


<!--<footer th:replace="partials/footer :: footer"></footer>-->


<div th:replace="partials/scripts :: assets"></div>

</body>
</html>