* {
    margin:0;
    padding: 0;
}

:root {
    --landing-pg-nav-login-btn-color: white;
    --landing-pg-nav-login-btn-hover-color: lightgray;
    --landing-pg-nav-logout-btn-color: #fc628c;
    --landing-pg-nav-logout-btn-hover-color: #232931;
    --landing-pg-blue-purple-gradient-color: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    /*--landing-pg-blue-purple-background: linear-gradient(to right, #ffc3a0, #FFAFBD); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    --landing-pg-background-color:
            linear-gradient(to top, #ffa3b3, #fff7cf);
            /*linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);*/


    --landing-pg-nav-sign-up-btn-color: #fc628c;
    --landing-pg-nav-sign-up-btn-hover-color: #ed3478;
}

/*!*NAVBAR*!*/
/*.landing-pg-body nav {*/
/*    background: transparent;*/
/*}*/

/*Nav Links*/
/*.landing-pg-body a.nav-link {*/
/*    color: white;*/
/*}*/

/*.landing-pg-body a.nav-link:hover {*/
/*    text-decoration: underline;*/
/*}*/

/*!*Navbar Hamburger Styling *!*/
/*.landing-pg-body .hamburger-animated-icon span {*/
/*    background: white;*/
/*}*/

/*!*BUTTONS*!*/
/*.landing-pg-nav-login-btn {*/
/*    !*background-color: var(--landing-pg-nav-login-btn-color);*!*/
/*    !*font-weight: bold;*!*/
/*}*/

/*.landing-pg-nav-login-btn:hover {*/
/*    background-color: var(--landing-pg-nav-login-btn-hover-color);*/
/*    font-weight: bold;*/
/*}*/

.landing-pg-nav-sign-up-btn {
    background: var(--landing-pg-nav-sign-up-btn-color);
    /*transition: 0.5s;*/
    /*background-size: 200% auto;*/
    color: white;
    font-weight: bold;
}

.landing-pg-nav-sign-up-btn:hover {
    background: var(--landing-pg-nav-sign-up-btn-hover-color);
    color: white;
    font-weight: bold;
}


/*LANDING PAGE BACKGROUND*/
.header {
    position:relative;
    text-align:center;
    background: var(--landing-pg-background-color);
}

.inner-header {
    height:50vh;
    width:100%;
    margin: 0;
    padding: 0;
}

.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}

.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
}

/* Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
    .content {
        height:30vh;
    }
    h1 {
        font-size:24px;
    }
}

/*HORIZONTAL RULES*/
.first-hr-landing-pg {
    width: 80%;
    margin: 0 auto;
}

.second-hr-landing-pg {
    width: 40%;
    margin: 0 auto;
}


/*LANDING PAGE CIRCLE SVGs FOR BACKGROUND*/
.landing-pg-left-svg {
    position: absolute;
    top: 90%;
    z-index: -1;
}

.landing-pg-right-svg {
    position: absolute;
    top: 150%;
    right: 0;
    z-index: -1;
}
