* {
    margin:0;
    padding: 0;
}

/*VARIABLES*/
/*------------------------------------------------------------------------------------*/
:root {
    --landing-pg-blush-color: #fc628c;
    --landing-pg-dark-blush-color: #ed3478;

    /*NAVBAR VARIABLES*/
    --landing-pg-nav-login-btn-color: white; /* login */
    --landing-pg-nav-login-btn-hover-color: lightgray; /* login hover */
    --landing-pg-nav-sign-up-btn-color: #fc628c; /* signup */
    --landing-pg-nav-sign-up-btn-hover-color: #ed3478; /*signup hover */
    --landing-pg-nav-logout-btn-color: #fc628c; /* logout */
    --landing-pg-nav-logout-btn-hover-color: #232931; /* logout hover */
    --landing-pg-nav-journly-logo-hover-color: #fc628c;

    --landing-pg-a-nav-link-font-family: 'Karla', sans-serif; /*Font*/

    /*BACKGROUND COLOR*/
    --landing-pg-background-color: linear-gradient(to top, #ffa3b3, #fff7cf);

    /*FEATURE ICON COLOR*/
    --feature-icon-container-color: #f5c0c0;

    /*JOIN TODAY TOP BUTTON*/
    --join-today-top-btn-color: white;
    --join-today-top-btn-hover-color: #fc628c;
    --join-today-top-btn-font-color: #fc628c;
    --join-today-top-btn-hover-font-color: white;

    /*JOIN TODAY BOTTOM BUTTON*/
    --join-today-bottom-btn-color: #fc628c;
    --join-today-bottom-btn-hover-color: #ed3478;
    --join-today-bottom-btn-font-color: white;

    /*FONTS*/
    --feature-heading-font-family: 'Karla', sans-serif;
    --giving-thanks-font-family: 'Karla', sans-serif;
    --gratitude-for-teachers-font: 'Karla', sans-serif;

    /*GRATITUDE FOR TEACHERS TEXT COLOR */
    --gratitude-for-teachers-font-color: #020205;

    /*Border for avatars on the page*/
    --landing-page-avatar-border: 3px solid #F7A09E;

}

/*NAVBAR*/
/*------------------------------------------------------------------------------------*/
.landing-pg-navbar-brand {
    font-family: 'Satisfy', cursive;
    color: #3d3e40; font-size: 2rem;
}
.landing-pg-navbar-brand:hover {
    color: var(--landing-pg-nav-journly-logo-hover-color)
}

/*Nav Links*/
#landing-pg-navbar a.nav-link {
    font-family: var(--landing-pg-a-nav-link-font-family);
    font-weight: 300 !important;
}

#landing-pg-navbar a.nav-link:hover {
    text-decoration: underline;
    color: black;
}



/*BUTTONS*/
/*------------------------------------------------------------------------------------*/
.landing-pg-nav-login-btn {
    background-color: var(--landing-pg-nav-login-btn-color);
    /*font-weight: bold;*/
}

.landing-pg-nav-login-btn:hover {
    background-color: var(--landing-pg-nav-login-btn-hover-color);
    /*font-weight: bold;*/
}

.landing-pg-nav-sign-up-btn {
    background: var(--landing-pg-nav-sign-up-btn-color);
    color: white;
    /*font-weight: bold;*/
}

.landing-pg-nav-sign-up-btn:hover {
    background: var(--landing-pg-nav-sign-up-btn-hover-color);
    color: white;
    /*font-weight: bold;*/
}


/*JUMBOTRON*/
/*------------------------------------------------------------------------------------*/
.landing-pg-jumbotron {
    border-radius: 0;
}

.header {
    position:relative;
    background: var(--landing-pg-background-color);
}

.inner-header {
    height:50vh;
    width:100%;
    margin: 0;
    padding: 0;
}

.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}

.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
}

/* Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
    .content {
        height:30vh;
    }
    h1 {
        font-size:24px;
    }
}


/*FONTS*/
/*------------------------------------------------------------------------------------*/
#gratitude-for-teachers-header {
    font-family: var(--gratitude-for-teachers-font) !important;
    color: var(--gratitude-for-teachers-font-color);
    font-weight: 300;
}
.giving-thanks-text {
    font-family: var(--giving-thanks-font-family);
}

.feature-headings {
    font-family: var(--feature-heading-font-family)
}


/*FEATURE ICON CONTAINER STYLING*/
/*------------------------------------------------------------------------------------*/
.landing-page-feature-icon-container {
    background: var(--feature-icon-container-color);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 30%;"
}

/*HORIZONTAL RULES*/
/*------------------------------------------------------------------------------------*/
.first-hr-landing-pg {
    width: 80%;
    margin: 0 auto;
}

.second-hr-landing-pg {
    width: 40%;
    margin: 0 auto;
}


/*JOIN TODAY TOP BTN*/
/*------------------------------------------------------------------------------------*/

/*Join Today button Styling (Landing Page)*/
.join-today-top-container {
    max-width: 70%;
}

#join-today-top-btn {
    background: var(--join-today-top-btn-color) !important;
    color: var(--join-today-top-btn-font-color) !important;
}

#join-today-top-btn:hover {
    background: var(--join-today-top-btn-hover-color) !important;
    color: var(--join-today-top-btn-hover-font-color) !important;
}


/*JOIN TODAY BOTTOM BTN*/
/*------------------------------------------------------------------------------------*/
.join-today-bottom-btn {
    background: var(--join-today-bottom-btn-color);
    color: var(--join-today-bottom-btn-font-color);
}

.join-today-bottom-btn:hover {
    background: var(--join-today-bottom-btn-hover-color);
    color: var(--join-today-bottom-btn-font-color);
}


/*AVATARS (Styling User Images to Display as Circles on Landing Page)*/
/*------------------------------------------------------------------------------------*/
.landing-pg-avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border: var(--landing-page-avatar-border);
    border-radius: 50%;
}


/*MEDIA QUERIES*/
/*------------------------------------------------------------------------------------*/

/* Medium Screen Landing Page Background Styling (tablets, 768px and up) */
@media screen and (min-width:768px) {
    .landing-pg-jumbotron h1 {
        font-size: 3em;
    }

    .join-today-top-container {
        max-width: 30%;
    }

    .join-today-bottom-container {
        max-width: 40%;
    }
}


/* !*Large devices (desktops, 992px and up) *!*/
/*@media (min-width: 992px) {*/
/*    .landing-page-jumbotron h1 {*/
/*        font-size: 6em;*/
/*    }*/
/*}*/


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .join-today-top-container {
        max-width: 20%;
    }

    .join-today-bottom-container {
        max-width: 25%;
    }

    .landing-pg-avatar {
        width: 130px;
        height: 130px;
    }
}


/*------------------------------------------------------------------------------------*/