<!doctype html>
<html id="about-us-html" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>

<body class="guest-view-body about-us-pg-body">
    <img src="/svg/left-landing-page.svg" class="about-us-left-svg">
    <img src="/svg/right-landing-page.svg" class="about-us-right-svg">

    <nav th:replace="partials/navbar :: navbar"></nav>

    <main class="container justify-content-center text-center">
        <div class="row mt-3 mb-3 mt-md-2 mb-md-4 mt-lg-2 mb-lg-4 mt-xl-2 tb-xl-5">
            <div class="col text-center">
                <h1 id="meet-the-team-header" class="mb-2">Meet the Team</h1>
            </div>
        </div>

        <!-- Card Container -->
        <div class="container about-us-card-container">
            <!-- Card Deck 1 -->
            <div class="card-deck about-us-card-deck mb-3">
                <!--Elvira's Card-->
                <div class="card about-us-card mb-4">
                    <img src="/img/elvira-valadez.jpg" alt="Elvira Valadez" class="card-img-top about-us-img mx-auto">
                    <div class="card-body about-us-card-body">
                        <h5 class="card-title developer-names">Elvira Valadez</h5>

                        <hr class="mx-auto about-us-hr">

                        <p class="about-us-quote">
                            <em>"Strive not to be a success, but rather to be of value."
                                <br><br>-Albert Einstein
                            </em>
                        </p>
                    </div>

                    <div class="card-footer about-us-card-footer">
                        <a href="https://github.com/elviravaladez" target="_blank" class="about-us-pg-icons"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/elviravaladez/" target="_blank" class="about-us-pg-icons"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>

                <!--Ethan's Card-->
                <div class="card about-us-card mb-4">
                    <img src="/img/ethan-tumbocon.jpg" alt="Ethan Tumbocon" class="card-img-top about-us-img mx-auto">
                    <div class="card-body">
                        <h5 class="card-title developer-names">Ethan Tumbocon</h5>

                        <hr class="mx-auto about-us-hr">

                        <p class="about-us-quote">
                            <em>"Lorem ipsum dolor sit amet, cons elit aspernat."
                                <br><br>-Author
                            </em>
                        </p>
                    </div>

                    <div class="card-footer about-us-card-footer">
                        <a href="https://github.com/EthanTumbocon" target="_blank" class="about-us-pg-icons"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/ethan-tumbocon-662344208/" target="_blank" class="about-us-pg-icons"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>

            </div>

            <!-- Card Deck 2 -->
            <div class="card-deck about-us-card-deck pb-5">
                <!-- Ryan's Card -->
                <div class="card about-us-card mb-4">
                    <img src="/img/ryan-phillips.jpg" alt="Ryan Phillips" class="card-img-top about-us-img mx-auto">
                    <div class="card-body">
                        <h5 class="card-title developer-names">Ryan Phillips</h5>

                        <hr class="mx-auto about-us-hr">

                        <p class="about-us-quote">
                            <em>"Lorem ipsum dolor sit amet, consectetur."
                                <br><br>-Author
                            </em>
                        </p>
                    </div>

                    <div class="card-footer about-us-card-footer">
                        <a href="https://github.com/RyanPhillipsJ92" target="_blank" class="about-us-pg-icons"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/ryanphillipsj92/" target="_blank" class="about-us-pg-icons"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>

                <!-- Kristen's Card -->
                <div class="card about-us-card mb-4">
                    <img src="https://via.placeholder.com/150" alt="Kristen Collier" class="card-img-top about-us-img mx-auto">
                    <div class="card-body">
                        <h5 class="card-title developer-names">Kristen Collier</h5>

                        <hr class="mx-auto about-us-hr">

                        <p class="about-us-quote">
                            <em>"Lorem ipsum dolor sit amet, consectetur."
                                <br><br>-Author
                            </em>
                        </p>
                    </div>

                    <div class="card-footer about-us-card-footer">
                        <a href="https://github.com/kcollier10" target="_blank" class="about-us-pg-icons"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/kris10-collier/" target="_blank" class="about-us-pg-icons"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <div th:replace="partials/scripts :: assets"></div>
</body>
</html>