<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body id="books-body">
<nav th:replace="partials/navbar :: navbar"></nav>
<h1 class="text-center">My Bookshelf</h1>
<div class="form-inline justify-content-center">
    <div class="bookshelf-card mb-3" th:each="book : ${books}">
        <div class="row no-gutters">
            <div class="col-4">
                <img class="card-img" id="dynamic" alt="image" th:src="${book.getBookThumbnail()}"></img>
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 th:text="${book.getTitle()}"></h5>
                    <h6>Author:</h6>
                    <p th:text="${book.getAuthor()}"></p>
                    <a target="_blank" class="btn btn-info btn-sm bookshelf-button bookshelf-readmore-button" th:href="@{${book.readMore}} ">More info.</a>
                    <a class="btn btn-danger btn-sm deleteBook bookshelf-button bookshelf-delete-button" th:attr="data-deleteID=${book.id}">Remove</a>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--<footer th:replace="partials/footer :: header-links"></footer>-->
    <div th:replace="partials/scripts :: assets"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var _csrf_token = /*[[${_csrf.token}]]*/ '';
        var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
        /*]]>*/
    </script>

    <script>
        $(document).on("click",".deleteBook",function (){
            console.log("Delete clicked");
            let deleteId = $(this).attr("data-deleteID")
            console.log(deleteId);
            let requestData = {
                "deleteID": deleteId}
            requestData[_csrf_param_name] = _csrf_token; // Adds the token
            $.ajax("/deletebook", {
                type: "POST",
                data: requestData
            }).done(function (fragment){
                window.location.reload();
                console.log("done")
                $("#bookshelf").replaceWith(fragment)
            }).fail(function (jqXhr, status, error){
                console.log(status + error)
            })
        })
    </script>
</body>
</html>