<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>Home</title>
<!--    <head th:replace="partials/head :: head"></head>-->
</head>
<body>
<!--<nav th:replace="partials/navbar :: navbar"></nav>-->
<nav th:include="partials/navbar" :: navbar></nav>

<main>
    <h1 class="flex justify-center montserrat">Search for Career-Related Books</h1>

    <div class="form">
        <div id="search" class="#f5f5f5 grey lighten-4 z-depth-5">
            <form id="myform">
                <div class="input-field">
                    <input type="search" id="books">
                    <label for="search"></label>
                    <button class="btn red">Search Books</button>
                </div>
<!--                            <button class="btn red">Search Books</button>-->
            </form>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <h1 class="flex justify-center montserrat">Search Results:</h1>


    <div class="books flex max-w-full">
        <div class="quicksand max-w-1/3" id="result"></div>`
    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {

        $("#myform").submit(function () {

            let search = $("#books").val();
            if (search === "") {
                alert("Please enter something in the field");
            } else {
                let url = "";
                let img = "";
                let title = "";
                let author = "";

                //*********************************************************************
                //******** WHEN USER "ADDS TO BOOKSHELF" STORE BOOK ID WITH THAT BOOKSHELF
                //*********IN USERS BOOKSHELF USE STORED BOOK ID'S AS SEARCH CRITERIA
                //******** RUN FOR EACH WITH EACH BOOK ID THROUGH API TO RENDER ALL USERS SAVED BOOKS
                //*********************************************************************
                $.get("https://www.googleapis.com/books/v1/volumes?q=" + search, function (response) {
                    //     $.get("https://www.googleapis.com/books/v1/volumes?q=" + search + "&key=" + $[keys], function (response){
                    for (let i = 0; i < response.items.length; i++) {
                        title = $('<h5 class="center-align white-text">' + response.items[i].volumeInfo.title + '</h5>');
                        author = $('<h5 class="center-align white-text"> By:' + response.items[i].volumeInfo.authors + '</h5>');
                        img = $('<img class="aligning card z-depth-5" id="dynamic" alt="image"><br><a href=' + response.items[i].volumeInfo.infoLink + '><button id="imagebutton" class="btn red aligning">Read More</button></a>');
                        url = response.items[i].volumeInfo.imageLinks.thumbnail;
                        img.attr('src', url);
                        title.appendTo('#result');
                        author.appendTo('#result');
                        img.appendTo('#result');
                        console.log(title, author)
                    }
                });

            }
            return false;
        })
    })

</script>
<!--<div th:replace="partials/scripts :: assets"></div>-->
</body>
</html>