<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body id="books-body" class="d-flex flex-column min-vh-100">
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="flex-box justify-content-center text-center">
    <br>
    <hr class="first-hr-landing-pg">
    <br>
    <h1>Build Your Library</h1>
    <p>Ready to combine your gratitude practice with your reading? Browse through an extensive library of books and save your favorites to your in-app bookshelf.</p>
    <br>
    <hr class="second-hr-landing-pg">
    <br>

    <h3>Search Books</h3>

    <div class="form mx-auto" id="search-books-form-container">
        <div id="search">
            <form id="myForm">
                <div class="input-field d-flex justify-content-center">
                    <label for="books" hidden></label>
                    <input class="form-control" type="search" id="books">
                    <button class="btn btn-info search-btn ml-1"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<main class="container  flex-fill search-books-container">
    <div class="form-inline justify-content-center pt-2" id="result"></div>
</main>

<div th:replace="partials/footer :: footer"></div>


<div th:replace="partials/scripts :: assets"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var _csrf_token = /*[[${_csrf.token}]]*/ '';
    var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
    /*]]>*/
</script>
<script>
    $(document).ready(function() {

        $("#myForm").submit(function () {
            $("#result").html("");
            let search = $("#books").val();
            if (search === "") {
                alert("Please enter something in the field");
            } else {
                let url = "";
                let img = "";
                let title = "";
                let author = "";
                let button = "";
                let col = "";
                let colClose = "";
                let html ="";
                //*********************************************************************
                //******** WHEN USER "ADDS TO BOOKSHELF" STORE BOOK ID WITH THAT BOOKSHELF
                //*********IN USERS BOOKSHELF USE STORED BOOK ID'S AS SEARCH CRITERIA
                //******** RUN FOR EACH WITH EACH BOOK ID THROUGH API TO RENDER ALL USERS SAVED BOOKS
                //*********************************************************************
                $.get("https://www.googleapis.com/books/v1/volumes?q=" + search, function (response) {
                    //     $.get("https://www.googleapis.com/books/v1/volumes?q=" + search + "&key=" + $[keys], function (response){
                    let bookNumber = 1
                    for (let i = 0; i < response.items.length; i++) {
                        html = $('<div id="book" class="bookshelf-card mb-3 book'+bookNumber+'">' +
                                    '<div class="row no-gutters">' +
                                        '<div class="col-4">' +
                                            '<img class="card-img searched-book-images" id="dynamic" alt="image" src="'+ response.items[i].volumeInfo.imageLinks.thumbnail +'"/>' +
                                        '</div>' +
                                        '<div class="col">' +
                                            '<div class="card-body">' +
                                                '<h5 id="title" class=""> ' + response.items[i].volumeInfo.title + '</h5>' +
                                                '<h6 id="author" class=""> By: ' + response.items[i].volumeInfo.authors + '</h6>' +
                                                '<a target="_blank" href=' + response.items[i].volumeInfo.infoLink + '><button id="imagebutton" class="btn btn-link">Read More</button></a>' +
                                                '<button id="add_book" type="submit" data-thumbnail="'+ response.items[i].volumeInfo.imageLinks.thumbnail +'" data-title="'+ response.items[i].volumeInfo.title +'" data-author="'+ response.items[i].volumeInfo.authors +'" ' +
                                                'data-bookid="'+ response.items[i].id +'" data-read-more="'+ response.items[i].volumeInfo.infoLink +'" class="addBook btn btn-info btn-sm">Add Book</button>' +
                              '</div></div></div>');

                        bookNumber+=1;

                        url = response.items[i].volumeInfo.imageLinks.thumbnail;
                        html.attr('src', url);
                        html.appendTo('#result');
                        console.log(response.items[i])
                    }
                });
            }
            return false;
        })
    })
$(document).on("click",".addBook",function (){
    console.log("Add book clicked");
    $(this).prop("disabled", true);
    $(this).siblings('.loading').show();
    let bookid = $(this).attr("data-bookid");
    let author = $(this).attr("data-author");
    let title = $(this).attr("data-title");
    let readMore = $(this).attr("data-read-more");
    let bookThumbnail = $(this).attr("data-thumbnail")
    let requestData = {"id" : bookid,
                        "author" : author,
                        "title" : title,
                        "bookThumbnail": bookThumbnail,
                        "readMore": readMore}
    requestData[_csrf_param_name] = _csrf_token; // Adds the token
    $.ajax("/addbook", {
        type: "POST",
        data: requestData
    }).done(function (data, status, jqXhr){

    }).fail(function (jqXhr, status, error){

        // window.location.replace("https://journly.org/login")
    })
})
</script>
<!--<div th:replace="partials/scripts :: assets"></div>-->
</body>
</html>