<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<!--<nav th:replace="partials/navbar :: navbar"></nav>-->

<main>
    <h1 class="d-flex justify-content-center">Search for Career-Related Books</h1>

    <div class="form">
        <div id="search">
            <form id="myform">
                <div class="input-field">
                    <input type="search" id="books">
                    <label for="search"></label>
                    <button class="btn">Search Books</button>
                </div>
<!--                            <button class="btn red">Search Books</button>-->
            </form>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <h1 class="d-flex justify-content-center">Search Results:</h1>


    <div class="books d-flex">
        <div id="result"></div>`
    </div>
</main>
<div th:replace="partials/scripts :: assets"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var _csrf_token = /*[[${_csrf.token}]]*/ '';
    var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
    /*]]>*/
</script>
<script>
    $(document).ready(function() {

        $("#myform").submit(function () {
            $("#result").html("");
            let search = $("#books").val();
            if (search === "") {
                alert("Please enter something in the field");
            } else {
                let url = "";
                let img = "";
                let title = "";
                let author = "";
                let button = "";
                //*********************************************************************
                //******** WHEN USER "ADDS TO BOOKSHELF" STORE BOOK ID WITH THAT BOOKSHELF
                //*********IN USERS BOOKSHELF USE STORED BOOK ID'S AS SEARCH CRITERIA
                //******** RUN FOR EACH WITH EACH BOOK ID THROUGH API TO RENDER ALL USERS SAVED BOOKS
                //*********************************************************************
                $.get("https://www.googleapis.com/books/v1/volumes?q=" + search, function (response) {
                    //     $.get("https://www.googleapis.com/books/v1/volumes?q=" + search + "&key=" + $[keys], function (response){

                    for (let i = 0; i < response.items.length; i++) {
                        title = $('<h5 class="center-align white-text">' + response.items[i].volumeInfo.title + '</h5>');
                        author = $('<h5 class="center-align white-text"> By:' + response.items[i].volumeInfo.authors + '</h5>');
                        img = $('<img class="aligning card z-depth-5" id="dynamic" alt="image"><br><a href=' + response.items[i].volumeInfo.infoLink + '><button id="imagebutton" class="btn red aligning">Read More</button></a>');
                        button = $('<button type="submit" data-thumbnail="'+ response.items[i].volumeInfo.imageLinks.thumbnail +'" data-title="'+ response.items[i].volumeInfo.title +'" data-author="'+ response.items[i].volumeInfo.authors +'" data-bookid="'+ response.items[i].id +'" class="addBook">Add Book</button>');
                        url = response.items[i].volumeInfo.imageLinks.thumbnail;
                        img.attr('src', url);
                        title.appendTo('#result');
                        author.appendTo('#result');
                        img.appendTo('#result');
                        button.appendTo('#result')
                        console.log(response.items[i])
                    }
                });

            }
            return false;
        })
    })
$(document).on("click",".addBook",function (){
    console.log("Add book clicked");
    let bookid = $(this).attr("data-bookid");
    let author = $(this).attr("data-author");
    let title = $(this).attr("data-title");
    let bookThumbnail = $(this).attr("data-thumbnail")
    let requestData = {"id" : bookid,
                        "author" : author,
                        "title" : title,
                        "bookThumbnail": bookThumbnail}
    requestData[_csrf_param_name] = _csrf_token; // Adds the token
    $.ajax("/addbook", {
        type: "POST",
        data: requestData
    }).done(function (data, status, jqXhr){
        console.log("done")
    }).fail(function (jqXhr, status, error){
        console.log(status + error)
    })
})
</script>
<!--<div th:replace="partials/scripts :: assets"></div>-->
</body>
</html>