<!doctype html>
<html id="index-html" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>

<body id="index-body" class="guest-view-body">
<img src="/svg/left-landing-page.svg" id="left-svg">
<img src="/svg/right-landing-page.svg" id="right-svg">

<nav th:replace="partials/navbar :: navbar"></nav>

<main class="container">
    <div id="landing-page-msg" class="row text-center align-items-center">
        <div class="col-12 col-md-6">
            <h1 id="gratitude-for-teachers-header">Gratitude<br> for Teachers</h1>
            <a id="join-today-top-btn" class="btn btn-lg" th:href="@{/sign-up}" role="button">Join Today</a>
        </div>

        <div class="col-12 col-md-6 mb-5">
            <img src="/img/icons-landing-pg.png" width="100%" alt="Gratitude for Teachers"/>
        </div>
    </div>

<!--    <div id="about" class="row mt-5 mb-5">-->
    <div id="about" class="row mb-5">
        <div class="col-12 col-md-12 col-lg-6 mt-md-2 mt-lg-0">
            <h2 class="mt-xl-5 giving-thanks-text">Giving thanks and reflecting daily</h2>
        </div>
        <div class="col-12">
            <p>With the rapidly changing environment and increasingly high demands of the profession, many teachers have found themselves over stressed and in search of ways to prevent teacher burnout. That’s where Journly comes in. With Journly, teachers can practice gratitude, be inspired by daily affirmations, and browse through our library of mindfulness books.</p>
        </div>
    </div>

    <div id="features">
        <div class="row">
            <div class="col-sm mb-5">
                <h4 class="feature-headings"><strong>Daily Journaling</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, commodi cupiditate dolorum ducimus est eum eveniet excepturi fugit nesciunt, optio qui recusandae sed sequi totam voluptates! Architecto consequatur provident totam.</p>
            </div>

            <div class="col-sm mb-5">
                <h4 class="feature-headings"><strong>Positive Affirmations</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, commodi cupiditate dolorum ducimus est eum eveniet excepturi fugit nesciunt, optio qui recusandae sed sequi totam voluptates! Architecto consequatur provident totam.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm mb-5">
                <h4 class="feature-headings"><strong>Community</strong></h4>
                <p>We are committed to cultivating a community of educators that support each other along their journey to end the teacher burnout crisis and foster gratitude. That’s why we’ve created the community gratitude board. On this board, users can share gratitude entries with others in the Journly Community. Users can then show their support and appreciation for the post by giving it a "like."
                </p>
                <a class="btn btn-outline-dark learn-more-btn" th:href="@{/gratitude-board}" role="button">Learn more</a>
            </div>

            <div class="col-sm mb-5">
                <h4 class="feature-headings"><strong>Books</strong></h4>
                <p>Another feature Journly provides teachers is the ability to search through a library of mindfulness books and save them to a bookshelf for personal use or use in the classroom.
                </p>
                <a class="btn btn-outline-dark learn-more-btn" th:href="@{/books}" role="button">Learn more</a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col text-center">
                <h1 class="mb-2">Crafted for teachers just like you.</h1>
            </div>
        </div>

        <div class="row pb-5 justify-content-center text-center">
            <div class="col-6 col-md-4 text-center">
                <img src="/img/community-member-one.png" alt="Community Member" class="landing-pg-avatar m-3">
                <!--                    <img th:src="${(firstUser.imgFilePath == null) ? firstUser.imgFilePath : '/img/community-member-one.png'}" th:alt="${firstUser.imgFilePath}"/>-->

                <!--                    <img th:if="${firstUser.getImgFilePath() == null}" src="/uploads/community-member-one.png" alt="Community Member" class="landing-pg-avatar m-3"/>-->
                <!--                    <img th:unless="${firstUser.getImgFilePath() == null}" th:src="${firstUser.getImgFilePath().imgFilePath}" alt="Community Member" class="landing-pg-avatar m-3">-->

            </div>

            <div class="col-6 col-md-4 text-center">
                <img src="/img/community-member-two.png" alt="Community Member" class="landing-pg-avatar m-3">
            </div>

            <div class="col-6 col-md-4 text-center">
                <img src="/img/community-member-three.png" alt="Community Member" class="landing-pg-avatar m-3">
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-12 text-center">
                <a class="btn btn-lg join-today-btn" th:href="@{/sign-up}" role="button">Join Today</a>
            </div>
        </div>
    </div>
</main>

<footer th:replace="partials/footer :: footer"></footer>


<div th:replace="partials/scripts :: assets"></div>
</body>
</html>